body {
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(63,81,181);
}

.demo-card-wide.mdl-card {
    width: 512px;
  }
.demo-card-wide > .mdl-card__title {
    color: #000;
    padding-bottom: 130px;
    height: 176px;
    background: url(../images/card_header_image.jpeg) center / cover;
  }
.demo-card-wide > .mdl-card__menu {
    color: #000;
  }

.button_color {
      color: red;
  }

#addToDoForm {
    padding-top: 0px;
}

.currentTasks {
    padding-left: 16px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.mdl-card__supporting-text {
    padding-left: 26px;
}

.mdl-card__title-text {
    font-weight: 400;
    padding-left: 16px; 
}

.mdl-button mdl-js-button mdl-button--raised mdl-button--colored {
    margin-left: 10px;
}

.delBtnStyle {
    margin-left: 5px; 

}